/* tablets*/
@media (min-width: 576px) and (max-width: 1024px) {
    .container {
        max-width: 900px;
        padding: 20px;
    }

    .header {
        margin-top: 35px;
    }

    .consultation {
        padding: 30px;
        .title {
            &_left {
                font-size: 27px;
            }
        }

        &__descr {
            margin-top: 30px;
            font-size: 20px;
        }
    }
}

/* small phones Iphone5 */
@media (max-width: 320px) {

    .container {
        max-width: 320px;
        max-height: 308px;
        padding: 10px;
    }

    .header {
        margin-top: 5px;

        &__logo {
            display: none;
        }

        &__official {
            font-size: 12px;
            font-weight: 300;
            text-align: left;

            span {
                font-size: 12px;
            }
        }

        &__phone {
            display: none;
        }
    }

    .promo {
        padding: 0;

        &__wrapper {
            margin-top: 15px;
            text-align: center;
        }

        &__header {
            font-size: 22px;
            margin: 0 auto;
        }

        &__subheader {
            font-size: 18px;
            margin-top: 35px;
        }

        &__icons {
            margin-top: 25px;
            width: 300px;
            flex-wrap: wrap;
            justify-content: center;

            img {
                margin-top: 20px;
            }
        }

        &__link {
            font-size: 12px;
        }

        .button {
            &_main {
                width: 294px;
                margin: 20px auto;
            }
        }
    }

    .advantages {
        padding: 30px 0 20px 0;

        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 0;
        }

        &__item {
            margin-top: 25px;
        }

        &__subtitle {
            margin-top: 20px;
        }
    }

    .consultation {
        margin-top: 595px;

        &__descr {
            font-size: 14px;
        }

        .title {
            &_left {
                font-size: 16px;
            }
        }
    }
}

/* big phones */
@media (min-width: 321px) and (max-width: 575px) {

    .container {
        max-width: 570px;
        padding: 12px;
    }

    .header {
        margin-top: 15px;
        margin-right: 15px;

        &__logo {
            display: none;
        }

        &__official {
            font-size: 20px;
            font-weight: 300;
            text-align: left;

            span {
                font-size: 12px;
            }
        }

        &__phone {
            display: none;
        }
    }

    .promo {

        &__wrapper {
            margin-top: 65px;
            text-align: center;
        }

        &__header {
            font-size: 38px;
            margin: 0 auto;
        }

        &__subheader {
            font-size: 26px;
            margin-top: 35px;
            line-height: 37px;
        }

        &__icons {
            max-width: 520px;
            margin: 75px auto;

            img {
                margin-top: 20px;
                width: 60px;
            }
        }

        &__link {
            font-size: 16px;
            margin-right: 15px;
        }

        .button {
            &_main {
                width: 380px;
                margin: 20px auto;
            }
        }
    }

    .advantages {
        padding: 30px 0 20px 0;
        max-height: 308px;

        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 0;
        }

        &__item {
            margin-top: 25px;
        }

        &__subtitle {
            margin-top: 20px;
        }
    }

    .consultation {
        margin-top: 595px;

        &__descr {
            margin-top: 35px;
            font-size: 18px;
            text-align: justify;
            text-align: center;
        }

        .title {
            &_left {
                font-size: 22px;
                text-align: center;
            }
        }

        .feed-form {
            margin-left: 50px;
        }
    }
}