.advantages {
    padding: 70px 0 80px 0;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__subtitle {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}



/* h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #0d0d0d;
} */

/* .advantages {
    min-height: 472px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;

    &_img {
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
    }

    &_subheder_img {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
    }

    &_text {
        margin-top: 25px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
    }

    &_link {
        color: red;
        text-decoration: underline;
    }

    &_wrapper {
        display: flex;
        justify-content: space-around;
        margin-top: 65px;
    }

    &_items-block {
        width: 33%;
    }

} */